body {
    font-family: "Poppins", sans-serif;
}

.order-button {
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.first-sec {
    display: flex;
}

span {
    color: orange;
}

.first-sec h1 {
    font-size: 30px;
}

.first-sec img {
    width: 80%;
    padding-left: 50px;
}

.diet {
    width: 50%;
    padding: 5%;
}

.diet p {
    margin-bottom: 40px;

}